.homeBook {
  /* border: solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}
.homeBookContent {
  /* border: solid blue; */
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.homeBookContent > button {
  padding: 10px;
  color: white;
  background-color: var(--customColor);
  font-weight: bold;
  border: 1px solid var(--customWhite);
  cursor: pointer;
  &:hover {
    border: 1px solid var(--customColor);
    background-color: var(--customWhite);
    color: var(--customColor);
  }
}
.homeBookContent > p {
  text-align: justify;
  width: 90%;
}
.homeBookContent > p > a {
  color: var(--customColor);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.homeBookForm {
  /* border: solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.homeBookForm > form {
  /* border: solid blue; */
  padding: 20px;
  width: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  box-shadow: 0 0 5px grey;
}
.firstLvl {
  width: 100%;
  /* border: solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.firstLvl > input {
  /* border: solid; */
  border: none;
  outline: none;
  width: 300px;
  height: 50px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: inset 0 0 5px black;
}
.firstLvl > textarea {
  border: none;
  outline: none;

  padding: 10px;
  border-radius: 20px;
  box-shadow: inset 0 0 5px black;
}
.secondLvl > p {
  color: var(--customColor);
  width: 100%;
  text-align: start;
}
.secondLvl > span > input[type="radio"] {
  accent-color: #e56b38;
}

.secondLvl {
  /* border: solid brown; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.secondLvl > span {
  /* border: solid red; */
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 10px;
}
.secondLvl > span > input {
  border: none;
  outline: none;
}

.homeBookForm > form > button {
  padding: 10px;
  color: white;
  background-color: var(--customColor);
  font-weight: bold;
  border: 1px solid var(--customWhite);
  cursor: pointer;
  &:hover {
    border: 1px solid var(--customColor);
    background-color: var(--customWhite);
    color: var(--customColor);
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .homeBook {
    /* border: solid red; */
    flex-direction: column;
  }
  .homeBookContent {
    /* border: solid blue; */
    width: 100%;
  }
}
