.navbarContainer {
  /* border: solid red; */
  padding: 10px;
  position: sticky;
  top: 44px;
  z-index: 10;
  background-color: white;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbarContainer1 {
  /* border: solid black; */
  padding: 10px;
  position: sticky;
  top: 44px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.867);
  height: 90px;
  box-shadow: 20px 0 10px 1px rgb(157, 157, 157);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logoContainer {
  /* border: solid green; */
  width: 15%;
  height: 100%;
  overflow: hidden;
}
.logoContainer > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.3);
}
.menuContainer {
  /* border: solid green; */
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  height: 100%;
}
.menuContainerList {
  /* border: solid blue; */
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}
.menuContainerList > li {
  /* border: solid; */

  margin: 10px;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuContainerList a {
  text-decoration: none;
  color: grey; /* Default color */
}
.menuContainerList span {
  text-decoration: none;
  color: grey; /* Default color */
}
.menuContainerList > li > a {
  /* border: solid; */
  height: 100%;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  &:hover {
    color: black;
  }
}
.menuContainerList > li > span {
  /* border: solid; */
  height: 100%;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  cursor: default;
  &:hover {
    color: black;
  }
}
.menuContainerList > li > span::after {
  border: 2px solid var(--customColor);
  content: "";
  position: absolute;
  bottom: 10px;
  width: 100%;
  visibility: hidden;
}
.menuContainerList > li > a::after {
  border: 2px solid var(--customColor);
  content: "";
  position: absolute;
  bottom: 10px;
  width: 100%;
  visibility: hidden;
}

.menuContainerList > li > a:hover::after,
.menuContainerList > li > a.active::after {
  /* Apply to active state as well */
  visibility: visible;
}
.menuContainerList > li > span:hover::after,
.menuContainerList > li > span.active::after {
  /* Apply to active state as well */
  visibility: visible;
}
.menuContainerList .active {
  color: black; /* Color when active */
}
.dropDown {
  border:1px solid grey;
  position: absolute;
  width: 300px;
  background-color: white;
  right: -100px;
  top: 70px;
  padding: 20px;
  display: none;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  transform: translateY(10px);
  transition: 1s ease-in-out;
  box-shadow: 0 0 20px rgb(222, 222, 222);
}
.dropDown > li {
    border-bottom:1px solid rgb(178, 177, 177);
  position: relative;
  padding: 10px;
  transition: 300ms ease-in-out;
  text-align: start;
  width: 100%;
}
.dropDown > li > a {
  color: grey;
}
.dropDown > li:hover  a{
    color: black;
}
/* .dropDown > li::before {
  content: "";
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: 300ms ease-in-out;
  height: 1px;
  width: 0%;
  background-color: var(--customColor);
}
.dropDown > li:hover::before {
  width: 100%;
  opacity: 1;
} */
.menuContainerList > li:hover .dropDown {
  display: flex;
  transform: translateY(1px);
}
/* ---------------------ResponsiveMenu----------------- */
.respMenuBar {
    /* border: solid red; */
    width: 40px;
    height: 40px;
    margin-left: 150px;
    display: none;
  }
  .respMenuBar > img {
    width: 100%;
    height: 100%;
  }
  .respMenu {
    /* border: solid blue; */
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: 500ms ease-in-out;
    background-color: #fd8743de;
    display: flex;
    overflow: hidden;
  }
  
  .innerRespMenu {
    /* border: solid green; */
    position: absolute;
    right: 0;
    width: 90%;
    height: 100%;
    top: 0;
    transform: translateX(100%);
    transition:300ms ease-in-out;
    transition-delay: 500ms;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
  }
  .respMenuBar > img:hover .respMenu {
    transform: translateX(0);
  }
  .closeX {
    position: absolute;
    left: 10px;
    top: 20px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.675);
  }
  
  .innerMenu {
    /* border: solid red; */
    height: 80%;
    width: 90%;
  }
  .innerMenu > li {
    /* border: solid; */
    border-bottom: 1px solid grey;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
  }
  .innerMenu > li > span {
    text-decoration: none;
    font-size: 20px;
    width: 100%;
    color: var(--customDarkBlue);
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .innerMenu > li > a {
    text-decoration: none;
    font-size: 20px;
    width: 100%;
    color: var(--customDarkBlue);
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .innerMenu li > a > button {
    border: solid white;
    border-radius: 20px;
    background-color: var(--customBlue);
    color: white;
    padding: 10px;
    font-weight: 500;
  }
  .innerMenu li > a > button:hover {
    background-color: white;
    border: solid var(--customBlue);
    color: var(--customBlue);
  }
  .innerMenuDrop {
    border: 1px solid grey;
    width: 100%;
    border-radius: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
  }
  .innerMenu .active {
    color: var(--customColor); /* Color when active */
  }
  .innerMenu > li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .respDropDown {
    /* border: solid red; */
    width: 100%;
    display: none;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  .respDropDown > li > a {
    /* border: solid blue; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    text-decoration: none;
    color: black;
  }
  @media screen and (min-width: 320px) and (max-width: 768px) {
    .navbarContainer1 {
      /* border: solid red; */
      position: sticky;
      top: 0px;background-color: white;
    }
    .menuContainerList {
      display: none;
    }
    .logoContainer {
      /* border: solid green; */
      width: 100px;
    }
    .navbarContent {
      /* border: solid brown; */
      border-radius: 0px;
    }
    .respMenuBar {
      /* border: solid red; */
      display: block;
    }
    .menuNavSocial{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .menuNavIcon{
        color: var(--customColor);
        font-size: 25px;

    }
  }
  @media screen and (min-width: 768px) and (max-width: 979px) {
    .navbarContainer1 {
      /* border: solid red; */
      position: sticky;
      top: 0px;
    }
    .menuContainerList {
      display: none;
    }
    .logoContainer {
      /* border: solid green; */
      width: 100px;
    }
    .navbarContent {
      /* border: solid brown; */
      border-radius: 0px;
    }
    .respMenuBar {
      /* border: solid red; */
      display: block;
      margin-left: 400px;
    }

  }
  @media screen and (min-width: 990px) and (max-width: 1200px) {
    .menuContainer {
      /* border: solid blue; */
      width: 80%;
    }
    .menuContainerList > li {
      text-align: center;
    }
  }
  