* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat Alternates", sans-serif;
}

:root {
  --customColor: #fd8643;
  --customWhite: rgb(243, 243, 243);
  --customColor2: #2261ec;
  --customGradient: linear-gradient(
    91.9deg,
    rgb(75, 207, 250) 6.3%,
    rgb(25, 159, 249) 98.9%
  );
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.App {
  background-color: var(--customWhite);
}
